S3method(print,longi)
export(available_real_timecourse_datasets)
export(choose_k)
export(cluster_stability)
export(collapse_columns)
export(dual_omics_heatmap)
export(load_real_timecourse_example)
export(longitudinal_cluster)
export(longitudinal_heatmap)
export(pattern_lineplot)
export(resolve_labels)
export(run_longitudinal)
export(write_memberships)
export(zscore_rows)
import(ComplexHeatmap)
import(data.table)
import(ggplot2)
importFrom(RColorBrewer,brewer.pal)
importFrom(circlize,colorRamp2)
importFrom(grid,gpar)
importFrom(grid,unit)
importFrom(grDevices,colorRampPalette)
importFrom(grDevices,dev.off)
importFrom(grDevices,pdf)
importFrom(grDevices,png)
importFrom(stats,as.dist)
importFrom(stats,complete.cases)
importFrom(stats,cor)
importFrom(stats,cutree)
importFrom(stats,dist)
importFrom(stats,hclust)
importFrom(stats,kmeans)
importFrom(stats,na.omit)
importFrom(stats,runif)
importFrom(stats,sd)
importFrom(stats,setNames)
importFrom(stats,var)
importFrom(utils,data)
importFrom(utils,globalVariables)
importFrom(utils,head)
